<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% if pageName %}
        {{ pageName }}
        {% else %}
        TwitterLite
        {% endif %}
    </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Our own custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/text_colour.css') }}">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg bg-light navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand text-primary" href="{{ url_for('home') }}">TwitterLite</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('visualize') }}">Visualize</a>
                    </li>
                    {% if login==True %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('search') }}">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('trending') }}">Trending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('tweets') }}">Tweet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('logout') }}">Log Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('login') }}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container bg-light pagebody">
        {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="py-5 bg-light">
        <div class="container">
            <p class="m-0 text-center text-primary">Copyright &copy; LOTAG 2019</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='JS/general.js') }}" crossorigin="anonymous"></script>

</body>

</html>
