{% extends "general.html" %}
{% block content %}
<h4>#{{ tag }}</h4>
{% for tweet in tweets %}
<div class="shadow p-3 mb-5 bg-white rounded">
    <p>By @{{ tweet['user'] }} on {{ tweet['date'] }}</p>
    <p>{{ tweet['tweet'] }}</p>
    <p>Retweets: {{ tweet['retweets'] }} Likes: {{ tweet['likes'] }}</p>
</div>

{% endfor %}

{% endblock %}