{% extends "general.html" %}
{% block content %}
{% if login%}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
            <div class="twt-wrapper">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <ul class="media-list">
                            {% for post in posts %}
                                <li class="media">
                                    <a href="#" class="pull-left"><img class="profile-image-small" alt="Profile photo"
                                        src="{{ url_for('static', filename=post.user['photo']) }}"></a>
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">{{ post.date }}</small>
                                        </span>
                                        <strong class="text-primary">@{{ post.user['username'] }}</strong>
                                        <p>
                                            {{ post.tweet['content'] }}
                                            {% for hashtag in post.hashtags %}
                                                <a href={{"/hashtag?tag="+hashtag.name}}>#{{ hashtag.name }}</a>
                                            {% endfor %}
                                            <br>
                                            <a href="/api/retweet/?user={{me['username']}}&time={{post.tweet['time']}}">
                                                <button class="btn"><small>Retweets: {{ post.retweets }}</small></button>
                                            </a>
                                            <a href="/api/like/?user={{me['username']}}&time={{post.tweet['time']}}">
                                                <button class="btn"><small>Likes: {{ post.likes }}</small></button>
                                            </a>
                                        </p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<h1>Welcome to TwitterLite</h1>
<p class="">
    Welcome to TwitterLite, a place where people can share their thoughts in a light weight manner.
</p>
<p>
    If you already have an account please sign in to access your feed and many other amazing ways to waste your time.
</p>
<p>
    In the event that you don't have an account, don't panic. Simply click on the register button and soon you will also
    be boring everyone with your pointless opinions too.
</p>
{% endif %}
{% endblock %}
