{% extends "general.html" %}
{% block content %}
<div class="pt-3 col-lg-5">
<h1 class="blued">Login</h1>
<br>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <span class="error_red">{{ message }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% if form.username.errors %}
            <div>
                {% for error in form.username.errors %}
                    <span class="error_red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.username.label(class="form-control-label") }}
        {{ form.username(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
        {% if form.password.errors %}
            <div>
                {% for error in form.password.errors %}
                    <span class="error_red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.password.label(class="form-control-label") }}
        {{ form.password(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</div>
{% endblock %}