{% extends "general.html" %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-3 center">
        <span class="profile-picture">
            <img class="editable img-responsive profile-image" alt="Profile photo"
                src="{{ url_for('static', filename=user['photo']) }}">
        </span>

        <div class="space space-4"></div>
        <h4 class="blue">
            <span class="middle">{{ user['username'] }}</span>
        </h4>
        <p>
                {{ user['bio'] }}
        </p>
        <div class="row mb-2">
            <form enctype=multipart/form-data method="POST" action="/api/uploadPhoto">
                <div class="col-6">
                    <input type="file" name=file>
                </div>
                <div class="col-6">
                    <input type="submit" value="Upload" class="btn btn-sm btn-block btn-success">
                </div>
            </form>
        </div>
        <a href="{{ url_for('updateBio') }}" class="btn btn-sm btn-block btn-success">
            <i class="ace-icon fa fa-plus-circle bigger-120"></i>
            <span class="bigger-110">Edit Bio</span>
        </a>
        <a href="{{ url_for('resetpwd') }}" class="btn btn-sm btn-block btn-primary">
            <i class="ace-icon fa fa-envelope-o bigger-110"></i>
            <span class="bigger-110">Change password</span>
        </a>
    </div><!-- /.col -->
    <div class="col-xs-12 col-sm-9 center">
        <h1>About you</h1>

        <!-- Add some files for our page -->
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/tabs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/tooltips.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='JS/tabs.js') }}"></script>

        <!-- The tabs that on the info page -->
        <div class="tab">
            <button class="tablinks" onclick="viewTab(event, 'tweets')" id="defaultOpen">Tweets</button>
            <button class="tablinks" onclick="viewTab(event, 'retweets')">Retweets</button>
            <button class="tablinks" onclick="viewTab(event, 'followers')">Followers</button>
            <button class="tablinks" onclick="viewTab(event, 'following')">Following</button>
            <button class="tablinks" onclick="viewTab(event, 'suggestions')">Suggestions</button>
        </div>

        <!-- The tweets tab -->
        <div id="tweets" class="tabcontent">
            <!-- This will be populated by a list of your tweets -->
            <!-- The number of retweets and usernames will also be shown -->
            <!-- As well as the number of likes for each -->
            <!-- Sorted from newest to oldest -->
            <h3>Your tweets</h3>
            {% if posts | length == 0 %}
                <p class="subheading">You have posted no tweets. Time to get started!</p>
            {% elif posts | length == 1 %}
                <p class="subheading">You have posted 1 tweet. Way to go!</p>
            {% else %}
                <p class="subheading">You have posted {{ posts | length }} tweets. Nice!</p>
            {% endif %}

            <!-- This display must be standardised -->
            {% for post in posts %}
                <li class="media">
                    <a href="#" class="pull-left"><img class="profile-image-small" alt="Profile photo"
                        src="{{ url_for('static', filename=post.n.user['photo']) }}"></a>
                    <div class="media-body">
                        @<strong class="text-primary">{{ post.n.user.username }}</strong>
                        <span class="text-muted pull-right">
                            <small class="text-muted">{{ post.n.time }}</small>
                        </span>
                        <p>
                            {{ post.n.content }}
                            {% for hashtag in post.n.hashtags %}
                                <a href="{{ url_for('hashtagTweets', tag=hashtag.n.name) }}">#{{ hashtag.n.name }}</a>
                            {% endfor %}
                            <br>
                            <small>
                                Retweets:
                                    {% if post.n.retweets | length == 0 %}
                                        0
                                    {% else %}
                                        <span class="tooltip_trigger">{{ post.n.retweets | length }}
                                            {% if post.n.retweets | length == 1 %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }}</span>
                                            {% elif post.n.retweets | length == 2 %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }} and {{ post.n.retweets[1].n.username }}</span>
                                            {% elif post.n.retweets | length == 3 %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }}, {{ post.n.retweets[1].n.username }}, and {{ post.n.retweets[2].n.username }}</span>
                                            {% else %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }}, {{ post.n.retweets[1].n.username }}, and {{ (post.n.retweets | length) - 2}} others</span>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                Likes:
                                    {% if post.n.likes | length == 0 %}
                                        0
                                    {% else %}
                                        <span class="tooltip_trigger">{{ post.n.likes | length }}
                                            {% if post.n.likes | length == 1 %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }}</span>
                                            {% elif post.n.likes | length == 2 %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }} and {{ post.n.likes[1].n.username }}</span>
                                            {% elif post.n.likes | length == 3 %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }}, {{ post.n.likes[1].n.username }}, and {{ post.n.likes[2].n.username }}</span>
                                            {% else %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }}, {{ post.n.likes[1].n.username }}, and {{ (post.n.likes | length) - 2}} others</span>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                            </small>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </div>

        <!-- The retweets tab -->
        <div id="retweets" class="tabcontent">
            <!-- This will be populated by a list of your retweets -->
            <!-- The number of retweets and usernames will also be shown -->
            <!-- As well as the number of likes for each -->
            <!-- Sorted from newest to oldest -->
            <h3>Your retweets</h3>
            {% if retweets | length == 0 %}
                <p class="subheading">You haven't retweeted anything. Found nothing expressive enough?</p>
            {% elif retweets | length == 1 %}
                <p class="subheading">You have retweeted 1 tweet. Sometimes other people just say it better.</p>
            {% else %}
                <p class="subheading">You have retweeted {{ retweets | length }} tweets. Remember, plagiarism is a thing.</p>
            {% endif %}

            <!-- This display must be standardised -->
            {% for post in retweets %}
                <li class="media">
                    <a href="#" class="pull-left"><img class="profile-image-small" alt="Profile photo"
                        src="{{ url_for('static', filename=post.n.user['photo']) }}"></a>
                    <div class="media-body">
                        @<strong class="text-primary">{{ post.n.user.username }}</strong>
                        <span class="text-muted pull-right">
                            <small class="text-muted">{{ post.n.time }}</small>
                        </span>
                        <p>
                            {{ post.n.content }}
                            {% for hashtag in post.n.hashtags %}
                                <a href="{{ url_for('hashtagTweets', tag=hashtag.n.name) }}">#{{ hashtag.n.name }}</a>
                            {% endfor %}
                            <br>
                            <small>
                                Retweets:
                                    {% if post.n.retweets | length == 0 %}
                                        0
                                    {% else %}
                                        <span class="tooltip_trigger">{{ post.n.retweets | length }}
                                            {% if post.n.retweets | length == 1 %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }}</span>
                                            {% elif post.n.retweets | length == 2 %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }} and {{ post.n.retweets[1].n.username }}</span>
                                            {% elif post.n.retweets | length == 3 %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }}, {{ post.n.retweets[1].n.username }}, and {{ post.n.retweets[2].n.username }}</span>
                                            {% else %}
                                                <span class="tooltip_text">{{ post.n.retweets[0].n.username }}, {{ post.n.retweets[1].n.username }}, and {{ (post.n.retweets | length) - 2}} others</span>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                                Likes:
                                    {% if post.n.likes | length == 0 %}
                                        0
                                    {% else %}
                                        <span class="tooltip_trigger">{{ post.n.likes | length }}
                                            {% if post.n.likes | length == 1 %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }}</span>
                                            {% elif post.n.likes | length == 2 %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }} and {{ post.n.likes[1].n.username }}</span>
                                            {% elif post.n.likes | length == 3 %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }}, {{ post.n.likes[1].n.username }}, and {{ post.n.likes[2].n.username }}</span>
                                            {% else %}
                                                <span class="tooltip_text">{{ post.n.likes[0].n.username }}, {{ post.n.likes[1].n.username }}, and {{ (post.n.likes | length) - 2}} others</span>
                                            {% endif %}
                                        </span>
                                    {% endif %}
                            </small>
                        </p>
                    </div>
                </li>
            {% endfor %}
        </div>

        <!-- The followers tab -->
        <div id="followers" class="tabcontent">
            <!-- A list of people that follow you will go here -->
            <h3>Your followers</h3>
            {% if followers | length == 0 %}
                <p class="subheading">You have no followers. Go out and get noticed!</p>
            {% elif followers | length == 1 %}
                <p class="subheading">You have 1 follower. You're on your way to greatness!</p>
            {% else %}
                <p class="subheading">You have {{ followers | length }} followers. You're practically a celebrity!</p>
            {% endif %}

            {% for person in followers %}
                <li class="media">
                    <a href="#" class="pull-left"><img class="profile-image-small" alt="Profile photo"
                        src="{{ url_for('static', filename=person.n.photo) }}"></a>
                    <div class="media-body">
                        @<strong class="text-primary">{{ person.n.username }}</strong>

                    </div>
                </li>
            {% endfor %}
        </div>

        <!-- The following tab -->
        <div id="following" class="tabcontent">
            <!-- A list of people that are following you will go here -->
            <h3>People you are following</h3>
            {% if following | length == 0 %}
                <p class="subheading">You are not following anybody. Nobody good enough? ;)</p>
            {% elif following | length == 1 %}
                <p class="subheading">You are following 1 person. They must be special!</p>
            {% else %}
                <p class="subheading">You are following {{ following | length }} people. Sheep.</p>
            {% endif %}

            {% for person in following %}
                <li class="media">
                    <a href="#" class="pull-left"><img class="profile-image-small" alt="Profile photo"
                        src="{{ url_for('static', filename=person.n.photo) }}"></a>
                    <div class="media-body">
                        @<strong class="text-primary">{{ person.n.username }}</strong>

                    </div>
                </li>
            {% endfor %}
        </div>

        <!-- The suggestions tab -->
        <div id="suggestions" class="tabcontent">
            <!-- This will be populated by a list of people that are followed by people you follow -->
            <!-- Sorted in descending order of total amount of likes and then tweets -->
            <h3>People you might like</h3>
            <div class="container">
                <div class="container-fluid content-row">
                    <div class="row">
                        {% for suggestion in suggestions %}
                        <div class="col-md-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <img class="card-img-top" src="{{ url_for('static', filename=suggestion.p3['photo'])}}">
                                    <div>
                                        <h5 class="card-title">{{suggestion.p3['username']}}</h5>
                                        <p class="card-text">{{suggestion.p3['bio']}}</p>
                                        <a href="{{ url_for('profile') }}"><button class="btn btn-primary" onclick=call_endpoint("http://localhost:5000/api/follow/?user1={{user['username']}}&user2={{suggestion.p3['username']}}")>Follow</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Open a tab by default -->
        <script>
            document.getElementById("defaultOpen").click();
        </script>
    </div>
</div><!-- /.row -->
{% endblock %}
