{% extends "general.html" %}
{% block content %}
<div class="pt-3 col-lg-5">
<h1 class="blued">Reset password</h1>
<br>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {% if form.password.errors %}
            <div>
                {% for error in form.password.errors %}
                    <span class="error_red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.password.label(class="form-control-label") }}
        {{ form.password(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
        {% if form.confirm_password.errors %}
            <div>
                {% for error in form.confirm_password.errors %}
                    <span class="error_red">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.confirm_password.label(class="form-control-label") }}
        {{ form.confirm_password(class="form-control form-control-lg") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</div>
{% endblock %}