{% extends "general.html" %}
{% block content %}
<form action="/search" method="POST">
    <div class="form-row search-bar">
        <div class="col-12 col-md-9 mb-2 mb-md-0">
            <input name="phrase" type="text" class="form-control form-control-lg" placeholder="Search...">
        </div>
        <div class="col-12 col-md-3">
            <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
        </div>
    </div>
    <div class="container">
        <div class="container-fluid content-row">
            <div class="row">
                {% for user in users %}
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ url_for('static', filename=user['photo'])}}">
                            <div>
                                <h5 class="card-title">{{user['username']}}</h5>
                                <p class="card-text">{{user['bio']}}</p>
                                <button class="btn btn-primary" onclick=call_endpoint("http://localhost:5000/api/follow/?user1={{me['username']}}&user2={{user['username']}}")>Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor%}
            </div>
        </div>
    </div>
</form>
{% endblock %}