{% extends "general.html" %}
{% block content %}
{% if login%}
<form action = "/tweets" method = "POST">
    <div class = "form-group">
        <textarea name = "contents" class="form-control" rows="5" id="comment" placeholder="What's up?"></textarea>
        Hashtags:
        <textarea name = "hashtag" class="form-control" rows="1" id="comment"></textarea>
        <button type = "submit" class="btn btn-block btn-lg btn-primary" rows = "3">Post</button>
    </div>
</form>
{% endif %}
{% endblock %}