{% extends "general.html" %}
{% block content %}
<form method="POST" action="/updateBio">
    <textarea class="form-control" rows="5" id="comment" name=bio></textarea>
    <input type="submit" value="Update Bio" class="col-md-4 btn btn-sm btn-block btn-success">
</form>
{% endblock %}