body {
    padding-top: 56px;
}

.profile-image {
    max-height: 350px;
}

.profile-image-small {
    height: 32px;
    width: 32px;
    margin-right: 4px;
}

.pagebody {
    min-height: 520px
}

.search-bar {
    padding-top: 56px;
}

.btn {
    border-radius: 0;
    margin-left: -1px;
}

.card {
    display: inline-block
}

.card-img-top {
    display: inline;
}

.card-img-top {
    max-width: 10rem;
}

p.subheading {
    font-size: 90%;
    color: grey;
}
